<link rel="stylesheet" href="{{ 'index.css' | asset_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">


<div class="custom-home-section">
<!-- First Frame -->
    <div id="first-frame">

      <!-- Nav bar -->
      <div class="nav-bar">
          <div class="mobile-menu-icons">
              <div id="hamburger" class="hamburger" onclick="hamburgerMenu()">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>

        <h3 class="logo">{{ 'sections.navbar.logoText' | t }}</h3>
        <p class="find-gift-text">{{ 'sections.navbar.giftText' | t }}</p>
        <button class="choose-gift-btn">{{ 'sections.navbar.giftBtn' | t }}  <i class="fas fa-arrow-right"></i></button>
        
      </div>

      <div>

        <!-- Mobile Hidden menu -->
        <div id="mobile-menu-contents" class="mobile-menu">
          <p class="get-started-text">{{ 'sections.navbar.giftText' | t }}</p>       <!-- Get started with your "Mi Solo" kit -->
          <button class="choose-gift-btn">{{ 'sections.navbar.giftBtn' | t }}  <i class="fas fa-arrow-right"></i></button>
        </div>

        <!-- First Image -->
         <div class="first-banner" style="background-image: url('{{ 'header-img-1.png' | asset_url }}');"></div>

        <!-- Second Image with text -->
        <div class="second-banner-section">
          <div class="second-banner-section-content">
              <h1 class="gift-guide">{{ 'sections.banner.giftGuide' | t }}</h1>
              <h1 class="gift-guide-mobile">{{ 'sections.banner.giftGuide' | t }}</h1>
              <div class="paragraph">
              <p class="para-1">{{ 'sections.banner.para1' | t }}</p>
              <p class="para-2">{{ 'sections.banner.para2' | t }}</p>
              </div>
              <button class="shop-now-button">{{ 'sections.banner.shopNowBtn' | t }} <i class="fas fa-arrow-right"></i></button>
          </div>
          <div class="second-banner" style="background-image: url('{{ 'header-img-2.png' | asset_url }}');"></div>
        </div>

        <!-- Sustainable Text -->
        <div class="banner-data">
          <p class="sustainable-text">{{ 'sections.banner.sustainableTextWeb' | t }}</p>
          <p class="sustainable-text-mobile">{{ 'sections.banner.sustainableTextMob' | t }}</p>
        </div>
      
      </div> 
    </div>

    <!-- Second Frame -->
    <div class="second-frame">
        <div class="vison-header">
            <p>Tisso vison in the wild</p>
        </div>
        <div class="image-set">
          <img src="{{ 'photo-1.png' | asset_url }}" alt="photo">
          <div class="plus-button-1"><button id="first-item" class="plus-button">+</button></div>
          <img src="{{ 'photo-2.png' | asset_url }}" alt="blue_tuxedo" class="photo"/>
          <div class="plus-button-2"><button id="second-item" class="plus-button">+</button></div>
          <img src="{{ 'photo-3.png' | asset_url }}" alt="red_shirt" class="photo"/>
          <div class="plus-button-3"><button id="third-item" class="plus-button">+</button></div>
          <img src="{{ 'photo-4.png' | asset_url }}" alt="leather_jacket" class="photo"/>
          <div class="plus-button-4"><button id="fourth-item" class="plus-button">+</button></div>
          <img src="{{ 'photo-5.png' | asset_url }}" alt="varsity_jacket" class="photo"/>
          <div class="plus-button-5"><button id="fifth-item" class="plus-button">+</button></div>
          <img src="{{ 'photo-6.png' | asset_url }}" alt="denim_jacket" class="photo"/>
          <div class="plus-button-6"><button id="sixth-item" class="plus-button">+</button></div>
        </div>
    </div>
    
    
<!-- Modal creation -->
 
<div id="product-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>

    <!--Modal left section -->
    <div class="product-details">
    <div class="modal-left">
      <img id="modal-img" src="" alt="product image">
    </div>

    <!-- Modal right section -->
    <div class="modal-right">
      <p id="modal-name">Product Name</p>
      <p id="modal-price">980,00€</p>
      <p id="modal-description">This one-piece swimsuit is crafted from jersey featuring an allover micro Monogram motif in relief.</p>
    </div>
    </div>

    <!-- Modal color selection -->
    <div class="modal-color-options">
      <label>Color</label>
      <div id="modal-colors" class="color-options"></div>
    </div>

    <!-- Modal size selection -->
    <div class="modal-size-options">
      <label>Size</label>
      <select id="modal-sizes" style="font-family: Jost;">
        <option></option>
      </select>
    </div>

    <!-- Add to cart button -->
    <button class="add-to-cart" onclick="addToCart()">ADD TO CART <i class="fas fa-arrow-right"></i></button>
  </div>

</div>
</div>

<script src="{{ 'index.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Custom Home",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Custom Home"
    }
  ]
}
{% endschema %}